body {
  background-color: #D6F6A9;
  background-image: url("images/BG.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
}
h1, h2, h3 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px black;
}
#kickstarter_button{
  width:576px;
  height:auto;
}

.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

#logo{
   max-width: 75%;
}

#read_comics{
    padding-top: 25px;
    max-width: 33%;
}

#title{
   max-width: 100%;
}


.buttons{
    max-width: 33%;
}

.outer_div{
  padding: 0px;
  text-align: center;
  white-space: nowrap;
}
.inner_div{
  display: inline-block;
  /*padding: 15px;*/
}
.link_boys{
  padding-top: 25px;
}
.copy_notice{
  font-family: serif;
  font-size: 200%;
  padding-top: 100px;
}
#sup{
    padding-top: 25px;
    transform: translateY(25%);
}
#ig{
  transform: translateY(35%);
}
.link_text{
  font-size: 175%;
  color: black;
  font-family: sans-serif;
  /*padding: 3%;*/
}

p{
  text-align: center;
  color: black;
}
